#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.container {
  img {
    width: 32px;
    height: 32px;
  }

  h2 {
    margin: 1rem 0;
  }

  input {
    margin: 0 0 1.5rem 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #8b8d98;
    border-radius: 4px;

    &:focus {
      box-shadow: inset 0 0 0 1px #0090ff;
    }
  }

  .create-btn {
    background: #0090ff;
    box-shadow: none;
    color: white;

    &:hover {
      background-color: #0588f0;
    }
  }

  .cancel-btn {
    border: 1px solid #8b8d98;

    &:hover {
      background-color: #f0f0f3;
    }
  }
}
